html, body {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #444;
}
.centerer {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    margin: auto;
}
.main_container {
    height: 75%;
    padding-top: 15%;
}
.centered_contained {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mini_sep {
    /* display: contents; */
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}
.HIDDEN {
    display: none;
    visibility: none;
}

.header_image {
    display: block;
    position: absolute;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    left: 25%;
    width: 50%;
}

.text_input,
.big_button {
    width: 600px;
    height: 100px;
    margin: 5px;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 50px;
}

.big_button {
    color: #FFF;
    background-color: rgb(188, 4, 234);
}
.big_button:hover {
    transform: scale(1.02);
    filter: brightness(85%);
}
.big_button:active {
    transform: scale(1.03);
    filter: brightness(75%);
}